@model IEnumerable<KartRentalCompany.Models.Gokart>
@{
    ViewData["Title"] = "Gokarts";
}

<h2>Gokarts</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create A New Gokart</a>
    </p>
}

<style>
    .wrap {
        text-align: center;
    }
    .nowrap {
        text-align: center;
        white-space: nowrap;
    }
    .data-nowrap {
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
    }
    .data {
        text-align: center;
        vertical-align: middle;
    }
    .btn-fixed-width {
        width: 75px;
    }

    .table {
        width: 100%;
        table-layout: auto;
    }
    .description {
        text-align: justify;
        vertical-align: middle;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th class="nowrap">@Html.DisplayNameFor(model => model.Manufacturer)</th>
            <th class="nowrap">@Html.DisplayNameFor(model => model.Name)</th>
            <th class="nowrap">@Html.DisplayNameFor(model => model.Price)</th>
            <th class="nowrap">@Html.DisplayNameFor(model => model.PricePerDay)</th>
            <th class="nowrap">@Html.DisplayNameFor(model => model.EngineSize)</th>
            <th class="wrap">@Html.DisplayNameFor(model => model.Description)</th>
            <th class="wrap">@Html.DisplayNameFor(model => model.ImageUrl)</th>
            <th class="wrap">Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="data-nowrap">@Html.DisplayFor(modelItem => item.Manufacturer)</td>
            <td class="data-nowrap">@Html.DisplayFor(modelItem => item.Name)</td>
            <td class="data-nowrap">@item.Price.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("fr-FR"))</td>
            <td class="data-nowrap">@item.PricePerDay.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("fr-FR"))</td>
            <td class="data-nowrap">@Html.DisplayFor(modelItem => item.EngineSize)</td>
            <td class="description">@Html.DisplayFor(modelItem => item.Description)</td>
            <td class="data"><img src="@item.ImageUrl" alt="@item.Name" style="max-width: 100px;" /></td>
            <td class="data">
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-fixed-width">Details</a>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary btn-fixed-width">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-fixed-width">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
