@model IEnumerable<KartRentalCompany.Models.Reservation>

@{
    @if (User.IsInRole("Admin"))
    {
        ViewData["Title"] = "Reservations";
    }
    else
    {
        ViewData["Title"] = "My Reservations";
    }
}

@if (User.IsInRole("Admin"))
{
    <h1>All Reservations</h1>
}
else
{
    <h1>My Reservations</h1>
}


<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gokart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                Approved
            </th>
            <th>
                Gokart taken
            </th>
            <th>
                Gokart returned
            </th>
            <th>
                Reservation cancelled
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gokart.Manufacturer) @Html.DisplayFor(modelItem => item.Gokart.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTakenAway)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReturned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCancelled)
            </td>
            <td>
                @item.TotalCost.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("fr-FR"))
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                }
                @if (User.IsInRole("Admin")) {
                    @Html.DisplayText("|")
                }
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                else if (item.User.Email == User.Identity.Name && !item.IsCancelled)
                {
                    <form asp-action="Cancel" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger">Cancel</button>
                    </form>
                }
            </td>
        </tr>
}
    </tbody>
</table>
